.userhomepage {
    margin-top: 4rem;
    color: white;
    padding: 1px 1rem 0 1rem;
    font-size: 12.5%;
}

.shorts-home-page {
    color: white;
    margin: 72px auto 0;
    padding: 1px 1rem 0 1rem;
    font-size: 12.5%;
}

.user-allshortsvideos .short-video-title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
}

#header img {
    border-radius: 50%;
    height: 5rem;
}

#header-top {
    margin-left: 20px;
}

#header h1 {
    font-size: 8.9em;
    font-weight: 900;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 2.5em;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
}

#header button {
    border-radius: 20px;
    font-size: 1rem;
    background: gray;
    color: black;
    padding: 0.3rem 0.7rem;
    margin-top: 4px;
}

#tabsContainer {
    font-size: 1rem;
    display: flex;
    margin-top: 21px;
    gap: 1rem;
    border-bottom: 1px solid;
    padding-bottom: 0.4rem;
}

#tabsContainer a {
    color: white;
}

#homepage-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 11px;
}

#homepage-body #video {
    display: flex;
    width: 100%;
    gap: 13px;
}

#homepage-body #video .video_bottom {
    width: 100%;
}

#homepage-body #video .video_bottom .video_bttom_left .video_title_and_channelName {
    height: 84px;
    gap: 3px;
}

.user-allshortsvideos {
    margin-top: 10px;
}

.user-allshortsvideos .short-video-shelf {
    margin: 0;
    overflow: unset;
    display: grid;
    width: fit-content;
}

.user-allshortsvideos .short-videos .short-video-section {
    height: unset;
}

@media screen and (max-width: 600px) {
    #homepage-body #video {
        gap: 0;
        aspect-ratio: unset;
        max-width: 100%;
        flex-basis: 100%;
        flex-direction: row;
    }

    .user-allshortsvideos .short-video-shelf {
        grid-template-columns: repeat(3, 1fr);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #homepage-body #video a {
        display: flex;
        max-width: 100%;
        flex-basis: calc(100% - 150px);
    }

    .user-allshortsvideos .short-videos {
        top: 0px;
        overflow: unset;
    }

    .user-allshortsvideos .short-video-section .short-video-shelf .short-video #short-video {
        height: 280px;
    }

    #homepage-body #video .video_bottom {
        height: 47px;
    }
    #homepage-body #video svg{
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    #homepage-body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #homepage-body #video {
        flex-direction: column;
        gap: 0;
    }

    .user-allshortsvideos .short-video-shelf {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 874px) {
    #homepage-body {
        display: flex;
    }

    #header h1 {
        font-size: 2.2rem;
    }

    .user-allshortsvideos .short-video-shelf {
        grid-template-columns: repeat(4, 1fr);
    }

    .user-allshortsvideos .short-video-shelf .short-video #short-video video {
        height: 372px;
        width: 209px;
    }
}

@media screen and (min-width: 990px) {
    .user-allshortsvideos .short-video-shelf {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 12px;
    }
}
