.left {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}
.top_Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 11px 18px 11px;
}
.viewAll {
  font-weight: 400;
  color: white;
  border: 1px solid;
  border-radius: 17px;
  padding: 3px 12px;
  font-size: 0.7rem;
}
.left > svg {
  font-size: 1.2em;
}
.left > h4 {
  font-weight: 700;
}
::-webkit-scrollbar {
  display: none;
}
.videoThumbnail > a img {
  width: 9.5em;
  border-radius: 10px;
}
#watchedVideoTitle {
  font-size: 0.7em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 2.5em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.25;
  text-overflow: ellipsis;
  font-weight: normal;
  /* opacity: 0.6; */
  color: white;
  text-align: start;
  width: 100%;
}
#watchedVideoChannelName,
#WatchedVideo_views_publishedTime {
  font-size: 0.7em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 2.5em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.25;
  text-overflow: ellipsis;
  font-weight: normal;
  opacity: 0.6;
  color: white;
  width: 60%;
}
#watchedVideoChannelName {
  margin-top: 3px;
}
#WatchedVideo_views_publishedTime {
  width: 87%;
}
.videoThumbnail {
  width: 9em;
}
.watched_Videos {
  display: flex;
  overflow-x: scroll;
  /* gap: 0.5em; */
  margin: 15px 0px 0px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
}
.watched_video{
  width: min-content;
}
.watched_Videos:first-child {
  margin-left: -50px;
}
.videoInfo {
  width: 94%;
  margin-top: 7px;
}
.createVideo {
  color: white;
  padding: 13px;
  width: 100%;
}
.createVideo > a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.createVideo > a > svg {
  font-size: 25px;
}
.createVideo > a > p {
  margin-left: 30px;
}
.Shelf{
  display: none;
}
/*Not SignedIn Component CSS*/
.top {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 17px;
  background: #212121;
  padding: 12px;
  color: #f1f1f1;
}
.top > svg {
  font-size: 1.7em;
}
.body {
  background-color: #272727;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.body img {
  max-height: 290px;
  max-width: 100%;
  min-height: 8px;
}
.promo_btn {
  background: #3ea6ff;
  color: white;
  margin-top: 12px;
  border-radius: 37px;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 13px;
  width: 67px;
  height: 32px;
}
.promo_title {
  font-size:1.1rem;
  margin-bottom: 8px;
  white-space: pre-wrap;
  text-align: center;
}
.promo_subtitle {
  width: 100%;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 16px;
  white-space: pre-wrap;
}
.notSignedIn{
  padding-bottom: 50px;
}
.video_thumbnail{
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
  margin-top: 26px;
}
.video_thumbnail h5 {
  font-size: 13px;
  margin-left: 14px;
  margin-top: 10px;
}
.video_thumbnail p {
  font-size: 13px;
  margin-left: 14px;
}
.thumbnail_picker_div{
  border: 1px dotted rgba(255, 255, 255, 0.1);
  width: 76px;
  display: flex;
  justify-content: center;
  padding: 0.7em;
  margin-bottom: 11px;
  margin-top: 11px;
  margin-left: 11px;
}
.thumbnail_picker_div svg {
  font-size: 21px;
}
.playlists{
  padding: 10px;
}
.playlist-header h3 {
    color: white;
    font-size: 1.2em;
    font-family: "Roboto";
    font-weight: 500;
}

.playlists-cards{
  display: flex;
  gap: 1.3em;
}

.playlist-card {
  width: 182px;
  background-color: #202020;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  height: 109px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.thumbnail {
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.like-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.video-count {
  font-size: 13px;
    background-color: rgba(51, 11, 8, 0.8);
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 0 6px;
    display: flex;
    border-radius: 3px;
    align-items: center;
}

.playlist-info {
  padding: 16px;
  background-color: #181818;
  text-align: center;
}
#list{
  font-size: calc(15px + 6*((100vw - 320px) / 680));
  margin-top: 53px;
}
.playlist-title {
  font-size: 18px;
  font-weight: bold;
}
@media screen and (min-width:600px)  {
  #list{
    display: grid;
    margin: 66px 33px 0 57px;
    grid-template-columns: 30% 70%;
    /* margin: 66px 50px 0 50px; */
    /* margin-left: 58px; */
    column-gap: 12px;

  }
  #list #left{
    margin: 0 0 0 34px;
  }
  #list #left>.video img {
    border-radius: 6px;
  }
  #list #left>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  #list #left>div h3{
    font-size: 1.3rem;
    font-family: 'Noto sans';
    font-weight: 700;
  }
  #list #left>div svg{
    font-size: 1.2rem;
  }

  #right #video{
    aspect-ratio: unset;
    display: flex;
    max-width: 100%;
    margin-bottom: 12px;
    margin-right: 20px;
  }
  #list #left  p {
    color: #aaa;
  }
 #username{
    font-size: 0.89rem;
}
.videoslength{
  font-size: 0.7rem;

}
  #right #video a{
   width: 190px;
  }
  #right #video .video_bottom{
    width: 100%;
    align-items: unset !important;
    margin: 0px 0px 10px 10px !important;
  }
  #right #video .video_bottom .video_bttom_left{
    align-items: flex-start;
  }
  #right #video .video_bottom .video_bttom_left .video_title_and_channelName .title{
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 1.5;
    max-height: 3.5em;
  }
  #right #video .video_bottom div>svg{
    font-size: 1.1rem;
  }
}
@media screen and (min-width:990px) {
  .libraryPage{
    max-width: 850px;
    margin: 73px auto 0 auto !important;
  }
  .playlists{
    margin-left: -63px;
  }
  .watched_Videos{
    margin: 24px 0px 0px 8px;
    flex-direction: column;
  }
  .createVideo{
    display: none;
  }
  .Shelf-header{
    display: flex;
    justify-content: space-between;
  }
  .Shelf-header h3 {
    font-weight: 700;
    font-size: 19px;
  }
  .Shelf-header a {
    color: white;
    border: 1px solid;
    border-radius: 17px;
    padding: 3px 12px;
    font-size: 0.7rem;
  }
  .Shelf{
    display: block;
    margin-top: 20px;
    /* height: 226px; */
    margin-left: -54px;
  }
  #contents{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    overflow-x: scroll;
  }
  #contents #video{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(26% - 16px);
    /* max-width: calc(34.33% - 14px); */
    aspect-ratio: 16 / 9;
    min-width: calc(26% - 16px);
  }
  #contents #video a #thumbnail_container{
    border-radius: 7px;
  }
  #contents #video a #thumbnail_container video {
    position: absolute;
    top: 0;
  }
  .forwardIcon{
    background: #212121;
    padding: 10px;
    border-radius: 50%;
    width: 34px;
    transform: translate(888px, -151px);
    cursor: pointer;
  }
  .backwardIcon{
    background: #212121;
    padding: 10px;
    border-radius: 50%;
    bottom: -57px;
    width: 34px;
    transform: translate(-18px, -147px);
    cursor: pointer;
  }
  .watched_video {
    lex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(26% - 16px);
    /* max-width: calc(33.33% - 16px); */
    aspect-ratio: 16 / 9;
    min-width: calc(26% - 16px);
  }
  .watched_video .videoThumbnail{
    width: unset;
  }
  .watched_video .videoThumbnail a{
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .watched_video .videoThumbnail a img {
  height: unset !important;
  width: unset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  .watched_VideosforwardIcon{
    transform: translate(879px, 94px);
    height: max-content;
    position: absolute;
    z-index: 1;
  }
  
}