html {
  /* scroll-behavior: smooth; */
  scroll-snap-type: y mandatory;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.back_icon {
  z-index: 2;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem 0 0 0.8rem;
  font-weight: bolder;
  font-size: 2rem;
} 
.shortVideo_middle_control {
  color: white;
  background: #000000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 1px;
  position: absolute;
  padding: 0.4em 0.4em;
  font-size: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shortvideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.short_video_container {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* scroll-snap-align: start; */
  scroll-snap-stop: always;
}
.scroll {
  transition: 2s ease-in;
}
.shortVideos_container {
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth; 
  /* scroll-snap-type: y mandatory; */
}
.progressBar{
  /* width: 93%; */
  background-color: #34393d;
  padding: 0;
  border-radius: 7px;
  /* margin-left: 10px !important; */
  margin-top: 9px;

}

#progressBar_width{
  background: red;
  /* width: 100%; */
  padding: 3px;
  border-radius: 7px;
  cursor: pointer;
}
.short_details {
  position: absolute;
  /* left: 15px; */
  bottom: 80px;
  color: white;
  z-index: 10;
  width: calc(100% - 70px);
}

.short_channel {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.short_channel img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.short_title {
  font-size: 1rem;
  /* font-weight: bold; */
  line-height: 1.5;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 14px;
}

.short_controls {
  position: absolute;
    right: 10px;
    /* top: 0; */
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    z-index: 10;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.control img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.control > svg {
  font-size: 1.7em;
  background: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  color: white;
  padding: 0.35em 0;
  border-radius: 25px;
}

.control > p {
  font-size: 0.8rem;
  margin-top: 5px;
}
.short_channel button{
  margin-left: 11px;
  color: #212121;
  background: #fff;
  border-radius: 27px;
}
@media screen and (max-width:990px) {
  .shortvideolayout{
    position: fixed;
    color: white;
    bottom: 30px;
    background-color: #212121;
    width: 96%;
    z-index: 23;
    border-radius: 12px;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    gap: 12px;
    height: 96px;

  }
  .shortvideolayout .menuitems {
    display: flex;
    gap: 12px;
    font-size: 16px;
    flex-direction: column;
  }
  .shortvideolayout .menuitems div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .line{
    background: #f1f1f1;
    opacity: .15;
    border-radius: 4px;
    height: 4px;
    margin: 0 auto;
    width: 50px;
    margin-top: 0;
    padding: 2.3px;
  }
}
/* Media Queries for Small Screens */
@media only screen and (max-width: 512px) {
  .short_details {
    bottom: 0px;
    width: calc(100% - 50px);
    width: 100%;
  }

  .short_channel img {
    width: 30px;
    height: 30px;
  }

  .short_title {
    font-size: 0.8rem;
  }

  .control > svg {
    width: 50px;
    height: 50px;
    font-size: 1.8em;
    background: rgba(0, 0, 0, 0.6);
  }

  .control img {
    width: 30px;
    /* height: 30px; */
  }

  .control > p {
    font-size: 0.7rem;
  }
 
  #short_progressBar_width {
    /* width: 100%; */
    display: block;
    background: red;
    padding: 2px;
    width: 0;
    /* margin: 0 10px; */
  }
  .short_channel {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    pointer-events: auto;
    word-break: break-word;
    max-height: 40px;
    margin-bottom: 0;
    padding: 4px 0;
    font-family: "Roboto", "Arial", sans-serif;
    /* font-size: 1.4rem; */
    /* line-height: 2rem; */
    overflow: hidden;
    /* display: block; */
    margin-left: 10px;
    max-height: 6rem;
    /* -webkit-line-clamp: 3; */
    display: box;
    display: -webkit-box;
    /* -webkit-box-orient: vertical; */
    text-overflow: ellipsis;
    white-space: normal;
  }
  #shortvideoprogressBar {
    background-color: #34393d;
    padding: 0;
    border-radius: 9px;
    height: 4px;
    /* width: 100%; */
    /* margin: 0 5px; */
  }
  .short_channel button{
    display: none;
  }

}
.shortVivdeoComment #message_page{
  top: 38%;
  width: 100%;
  left: 0;
  border-radius: 12px;
  position: fixed;
}
@media screen and (max-width:600px) {
  .ActivesmalldevicesProgressWidthtransition{
    transition-duration: .5s;
    width:97%;
    margin:0 5px;
   }
   .RemovesmalldevicesProgressWidthtransition{
    transition-duration: .5s;
    width:unset;
    margin:0;
   }
   .ActivesmalldevicesBottomtransition{
    margin-bottom: 25px;
    transition-duration: .5s;
   }
   .RemovesmalldevicesBottomtransition{
    margin-bottom: unset;
    transition-duration: .5s;
   }
}
@media screen and (min-width:513px) and (max-width:990px){
  .short_details {
    bottom: 0;
    left: 0;
  }
 
  .short_channel{
    margin-left: 11px;
  }
  .short_channel img{
    height: 30px;
    width: 30px;
  }

}
@media screen and (min-width: 990px) {
  .shortVideos_container {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
    /* width: 30%;
    margin: 0 auto; */
  }
  .short_video_container{
    width: 637px;
    padding: 27px;
    margin:  0 auto;
    height: unset;
  }
  #shortvideo {
    object-fit: cover;
    border-radius: 12px;
    /* height: 560px !important; */
  }
  .short_details {
    bottom: 0;
    font-size: 0.8em;
    left: 33px;
    bottom: 38px;
  }
  .short_title {
    margin: 10px 0px 8px 5px;
  }
  .short_controls{
    right: -40px;
    bottom: 33px;
  }
 .shortVivdeoComment #message_page{
    background-color: #212121;
    position: fixed;
    left: 26%;
    top: 0%;
    width: 45%;
    font-size: 14px;
    height: 100%;
    z-index: 2;
    overflow-y: scroll;
    color: white;
 }
 .shortVivdeoComment #message_page .message-body {
    background-color: unset;
    position: fixed;
    /* width: 45%; */
    height: 100%;
    z-index: 2;
    overflow-y: scroll;
    color: white;
 }
.shortVivdeoComment #message_page .message-top {
  background-color: #212121;
}
.short_channel button{
 display: block;
}
}
