@media screen and (max-width: 586px) {
  .Videos {
    padding-bottom: 42px;
  }
  .controls {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: end;
    color: black;
    /* transform: translateY(-6px); */
    font-size: 40px;
    visibility: visible;
  }
  video {
    width: 100%;
  }
  video[poster] {
    object-fit: cover;
  }
  .video_bottom{
    color: white;
  }

  .video_detail {
    margin-bottom: 13px;
    margin-top: 1px;
    margin-left: 0px;
  }
  .videomenu {
    color: white;
    margin: 5px 10px 0 9px;
    font-size: 15px;
  }
  .channerlName {
    display: flex;
    margin-left: 47px;
  }
  #channerlName {
    margin-top: -5px;
    margin-left: -2px;
    opacity: 0.6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 3em;
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .video_title_and_channelName{
    font-size: 0.7em;
  }
}
